button{
    font-family: $text;
    border-radius:10px;
    font-size:1.1em;
    color:$white;
    padding:12px 25px;
    box-sizing: border-box;
    border:solid;
    transition:all 0.3s;
    cursor:pointer;

    &.plain{
        background:$red;
        border-color:$red;

        &:hover{
            background:$red-accent;
            border-color:$red-accent;
        }
    }

    &.bordered{
        background:transparent;
        border-color:$red;
        border-width: 2px;

        &:hover{
            color:$red-accent;
            border-color:$red-accent;
        }
    }
}