// COLORS 
$white: #fff;
$red: #B62937;
$red-accent: #8E010F;
$red-clicked: #DE515F;
$dark-grey: #282828;
$light-grey: #DCDCDC;
$brown: #3B2B2B;

// FONTS 
$title: 'Crimson Pro', serif;
$text: 'Poppins', sans-serif;

// SIZES 
$layout-desktop-size: 1050px;